.page__main {
    font-family: $bodyFont;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

    h1, h2, h3, h4 {
        font-family: $titleFont;
        letter-spacing: 0.2px;
    }

    .section__list--movies {
        width: 80vw;
        flex-grow: 2;
        order: 1;
        text-align: center;
        transition: 0.2 ease;

        @include forMobile {
            width: 70vw;
            }

        .search__shows {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #333333;
            padding: 0 0 45px 0;
            transition: 0.2 ease;
        }

        .search__movie {
            width: 300px;
            border: 1px solid gray;
            margin: 15px;
            font-size: 16px;
            padding: 0 0 3px 0;

            @include forMobile {
                width: 150px;
            }
        }

        .btn__search {
            width: 300px;
            background-color: rgba(255, 255, 255, 0.80);
            border-radius: 5px;
            border: 0.5px solid lightgray;
            font-size: 18px;

            @include forMobile {
                width: 150px;
                font-size: 16px;
            }
            
            &:hover {
                background-color: $mainPinkClear;
                color: white;
                border: none;
            }

            &:focus {
                background-color: $mainPinkClear;
                color: white;
            }
        }

        .show__shows {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            overflow: scroll;

            .show__list--item {
                width: 220px;
                height: 350px;
                padding: 10px;
                margin: 10px 40px;
                display: flex;
                flex-direction: column;
                box-shadow: 1px 1px 10px 0px rgba(173, 173, 173, 0.8);
                cursor: pointer;
                position: relative;
                transition: ease 0.2s;

                @include forMobile {
                    width: 150px;
                    height: 240px;
                }

                @include forDesktop{
                    width: 250px;
                    height: 400px;
                }
                
                img {
                    width: 195px;
                    height: 280px;
                    margin: auto;

                    @include forMobile {
                        width: 130px;
                        height: 185px;
                    }

                    @include forDesktop{
                        width: 210px;
                        height: 295px;
                    }
                }

                .show__item--info {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: $mainPink;
                    color: white;
                    overflow: hidden;
                    width: 100%;
                    height: 10%;
                    transition: 0.5s ease;
                    display: flex;
                    flex-direction: column;
                    font-size: 12px;
                    margin-top: 10px;
                    padding: 0 10px 0px 10px;
                    font-weight: 400;
                    font-family: 'Playfair Display', serif;
                    line-height: 1.2;

                    .overlay__text {
                        font-size: 16px;
                        font-weight: bold;
                        margin: 4.5% 0;

                        @include forMobile {
                            font-size: 14px;
                        }
                    }

                    &:hover, &:focus, .overlay {
                        height: 90%;

                        @include forMobile {
                            height: 88%;
                        }
                    }
                }
            }
                    .fav__show--style {
                        width: 220px;
                        height: 350px;
                        padding: 10px;
                        margin: 10px 40px;
                        display: flex;
                        flex-direction: column;
                        box-shadow: 1px 1px 10px 0px rgba(173, 173, 173, 0.8);
                        background-color: $mainPink;
                        color: white;
                        background-position: center;
                        cursor: pointer;
                        position: relative;
                        transition: ease 0.2s;

                        @include forMobile {
                            width: 150px;
                            height: 240px;
                        }

                        @include forDesktop{
                            width: 250px;
                            height: 400px;
                        }

                        img {
                            width: 195px;
                            height: 280px;
                            margin: auto;
                            outline: 105px solid rgba(222,144,169, 0.5) !important;
                            outline-offset: -105px;
                            transition: all linear 0.2s;

                            @include forMobile {
                                width: 130px;
                                height: 185px;
                            }

                            @include forDesktop{
                                width: 210px;
                                height: 295px;
                            }
                        }

                        .show__item--info {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            background-color: $mainPink;
                            color: white;
                            overflow: hidden;
                            width: 100%;
                            height: 10%;
                            transition: 0.5s ease;
                            display: flex;
                            flex-direction: column;
                            font-size: 12px;
                            margin-top: 10px;
                            padding: 0 10px 0px 10px;
                            font-weight: 400;
                            font-family: 'Playfair Display', serif;
                            line-height: 1.2;
        
                            .overlay__text {
                                font-size: 16px;
                                font-weight: bold;
                                margin: 4.5% 0;

                                @include forMobile {
                                    font-size: 14px;
                                }
                            }
        
                            &:hover, &:focus, .overlay {
                                height: 90%;

                                @include forMobile {
                                    height: 88%;
                                }
                            }
                        }
                    }
        }
    }

    aside {
        text-align: center;
        box-shadow: 1px 1px 15px gray;
        height: 100vh;
        margin-top: 0;
        position: relative;
        overflow: hidden;
        
        
        .fav__section--title {
            padding: 20px 0;
        }
        
        .btn__remove--all {
            background-color: rgba(255, 255, 255, 0.80);
            border-radius: 5px;
            border: 1px solid lightgray;
            font-size: 12px;
            margin: 0 5px;
            padding: 3px;

            &:hover {
                background-color: $mainPinkClear;
                color: white;
            }

            &:focus {
                background-color: $mainPinkClear;
                color: white;
            }
        }
    
    .section__fav--movies {
        width: 20vw;
        height: 90vh;
        padding: 20px;
        order: 0;
        text-align: center;
        overflow: scroll;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 10px;

        @include forMobile {
            width: 30vw;
            align-items: center;
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            margin: 5px 0 5px 0;

            h4 {
                margin: 10px 0;
                line-height: 1.3;

                @include forDesktop {
                    margin: 0 20px;
                }
            }

            a {
                color: inherit;
                border-bottom: 1px dashed rgb(222, 145, 172);
                transition: all 0.5s ease;
            
                &:hover {
                border-bottom: 1px dashed black;
                color: rgb(222, 145, 172);
                }
            }
                
            .btn__remove--single {
                position: absolute;
                top: 0;
                background-color: black;
                color: white;
                border-radius: 100%;
                border: 2px solid rgba(255, 255, 255, 0.85);

                &:hover {
                 background-color: rgb(222, 145, 172);   
                }
            }
                @include forDesktop {
                    flex-direction: row;
                }

            img {
                border: 1px solid #ddd;
                border-radius: 4px;
                padding: 5px;
                width: 120px;
                
                @include forMobile {
                    width: 60px;
                    height: 85px;
                }

                @include forDesktop {
                    width: 150px;
                }
            }
        }
    }
}
}

.hidden {
    display: none;
}
.full_screen {
    height: 100vh;
    font-size: 4vh; 
    background: url(https://images.unsplash.com/photo-1565098772267-60af42b81ef2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3484&q=80) no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    transition: ease 0.2s;
    padding: 0;
}
.medium_screen {
    height: 80vh;
    transition: ease 0.2s;
}

