html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}/* make sure to set some focus styles for accessibility */:focus {
  outline: 0;
}/* HTML5 display-role reset for older browsers */article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

body {
  line-height: 1;
}

ol,ul {
  list-style: none;
}

blockquote,q {
  quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */audio,canvas,video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */audio:not([controls]) {
  display: none;
  height: 0;
}/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */[hidden] {
  display: none;
}/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */html {
  font-size: 100%;
 /* 1 */
  -webkit-text-size-adjust: 100%;
 /* 2 */
  -ms-text-size-adjust: 100%;
 /* 2 */;
}/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */a:focus {
  outline: thin dotted;
}/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */a:active,a:hover {
  outline: 0;
}/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */img {
  border: 0;
 /* 1 */
  -ms-interpolation-mode: bicubic;
 /* 2 */;
}/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */figure {
  margin: 0;
}/**
 * Correct margin displayed oddly in IE 6/7.
 */form {
  margin: 0;
}/**
 * Define consistent border, margin, and padding.
 */fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */legend {
  border: 0;
 /* 1 */
  padding: 0;
  white-space: normal;
 /* 2 */
  *margin-left: -7px;
 /* 3 */;
}/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */button,input,select,textarea {
  font-size: 100%;
 /* 1 */
  margin: 0;
 /* 2 */
  vertical-align: baseline;
 /* 3 */
  *vertical-align: middle;
 /* 3 */;
}/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */button,input {
  line-height: normal;
}/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */button,select {
  text-transform: none;
}/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */button,html input[type="button"],input[type="reset"],input[type="submit"] {
  -webkit-appearance: button;
 /* 2 */
  cursor: pointer;
 /* 3 */
  *overflow: visible;
 /* 4 */;
}/**
 * Re-set default cursor for disabled elements.
 */button[disabled],html input[disabled] {
  cursor: default;
}/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */input[type="checkbox"],input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 /* 1 */
  padding: 0;
 /* 2 */
  *height: 13px;
 /* 3 */
  *width: 13px;
 /* 3 */;
}/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */input[type="search"] {
  -webkit-appearance: textfield;
 /* 1 */
  -webkit-box-sizing: content-box;
 /* 2 */
  box-sizing: content-box;
}/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}/**
 * Remove inner padding and border in Firefox 3+.
 */button::-moz-focus-inner,input::-moz-focus-inner {
  border: 0;
  padding: 0;
}/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */textarea {
  overflow: auto;
 /* 1 */
  vertical-align: top;
 /* 2 */;
}/**
 * Remove most spacing between table cells.
 */table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,button,input,select,textarea {
  color: #222;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  text-decoration: none;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

a {
  color: inherit;
}

.page__main {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.page__main h1,.page__main h2,.page__main h3,.page__main h4 {
  font-family: "Abril Fatface", cursive;
  letter-spacing: 0.2px;
}

.page__main .section__list--movies {
  width: 80vw;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  text-align: center;
  -webkit-transition: 0.2 ease;
  transition: 0.2 ease;
}

.page__main .section__list--movies .search__shows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #333333;
  padding: 0 0 45px 0;
  -webkit-transition: 0.2 ease;
  transition: 0.2 ease;
}

.page__main .section__list--movies .search__movie {
  width: 300px;
  border: 1px solid gray;
  margin: 15px;
  font-size: 16px;
  padding: 0 0 3px 0;
}

.page__main .section__list--movies .btn__search {
  width: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  border: 0.5px solid lightgray;
  font-size: 18px;
}

.page__main .section__list--movies .btn__search:hover {
  background-color: rgba(222, 145, 172, 0.8);
  color: white;
  border: none;
}

.page__main .section__list--movies .btn__search:focus {
  background-color: rgba(222, 145, 172, 0.8);
  color: white;
}

.page__main .section__list--movies .show__shows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: scroll;
}

.page__main .section__list--movies .show__shows .show__list--item {
  width: 220px;
  height: 350px;
  padding: 10px;
  margin: 10px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(173, 173, 173, 0.8);
  box-shadow: 1px 1px 10px 0px rgba(173, 173, 173, 0.8);
  cursor: pointer;
  position: relative;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.page__main .section__list--movies .show__shows .show__list--item img {
  width: 195px;
  height: 280px;
  margin: auto;
}

.page__main .section__list--movies .show__shows .show__list--item .show__item--info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #de90a9;
  color: white;
  overflow: hidden;
  width: 100%;
  height: 10%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 12px;
  margin-top: 10px;
  padding: 0 10px 0px 10px;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
  line-height: 1.2;
}

.page__main .section__list--movies .show__shows .show__list--item .show__item--info .overlay__text {
  font-size: 16px;
  font-weight: bold;
  margin: 4.5% 0;
}

.page__main .section__list--movies .show__shows .show__list--item .show__item--info:hover,.page__main .section__list--movies .show__shows .show__list--item .show__item--info:focus,.page__main .section__list--movies .show__shows .show__list--item .show__item--info .overlay {
  height: 90%;
}

.page__main .section__list--movies .show__shows .fav__show--style {
  width: 220px;
  height: 350px;
  padding: 10px;
  margin: 10px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(173, 173, 173, 0.8);
  box-shadow: 1px 1px 10px 0px rgba(173, 173, 173, 0.8);
  background-color: #de90a9;
  color: white;
  background-position: center;
  cursor: pointer;
  position: relative;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.page__main .section__list--movies .show__shows .fav__show--style img {
  width: 195px;
  height: 280px;
  margin: auto;
  outline: 105px solid rgba(222, 144, 169, 0.5) !important;
  outline-offset: -105px;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.page__main .section__list--movies .show__shows .fav__show--style .show__item--info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #de90a9;
  color: white;
  overflow: hidden;
  width: 100%;
  height: 10%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 12px;
  margin-top: 10px;
  padding: 0 10px 0px 10px;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
  line-height: 1.2;
}

.page__main .section__list--movies .show__shows .fav__show--style .show__item--info .overlay__text {
  font-size: 16px;
  font-weight: bold;
  margin: 4.5% 0;
}

.page__main .section__list--movies .show__shows .fav__show--style .show__item--info:hover,.page__main .section__list--movies .show__shows .fav__show--style .show__item--info:focus,.page__main .section__list--movies .show__shows .fav__show--style .show__item--info .overlay {
  height: 90%;
}

.page__main aside {
  text-align: center;
  -webkit-box-shadow: 1px 1px 15px gray;
  box-shadow: 1px 1px 15px gray;
  height: 100vh;
  margin-top: 0;
  position: relative;
  overflow: hidden;
}

.page__main aside .fav__section--title {
  padding: 20px 0;
}

.page__main aside .btn__remove--all {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 12px;
  margin: 0 5px;
  padding: 3px;
}

.page__main aside .btn__remove--all:hover {
  background-color: rgba(222, 145, 172, 0.8);
  color: white;
}

.page__main aside .btn__remove--all:focus {
  background-color: rgba(222, 145, 172, 0.8);
  color: white;
}

.page__main aside .section__fav--movies {
  width: 20vw;
  height: 90vh;
  padding: 20px;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  text-align: center;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-right: 10px;
}

.page__main aside .section__fav--movies li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 5px 0 5px 0;
}

.page__main aside .section__fav--movies li h4 {
  margin: 10px 0;
  line-height: 1.3;
}

.page__main aside .section__fav--movies li a {
  color: inherit;
  border-bottom: 1px dashed #de91ac;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.page__main aside .section__fav--movies li a:hover {
  border-bottom: 1px dashed black;
  color: #de91ac;
}

.page__main aside .section__fav--movies li .btn__remove--single {
  position: absolute;
  top: 0;
  background-color: black;
  color: white;
  border-radius: 100%;
  border: 2px solid rgba(255, 255, 255, 0.85);
}

.page__main aside .section__fav--movies li .btn__remove--single:hover {
  background-color: #de91ac;
}

.page__main aside .section__fav--movies li img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 120px;
}

.hidden {
  display: none;
}

.full_screen {
  height: 100vh;
  font-size: 4vh;
  background: url(https://images.unsplash.com/photo-1565098772267-60af42b81ef2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3484&q=80) no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
  padding: 0;
}

.medium_screen {
  height: 80vh;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

@media all and (min-width: 1280px) {
  .page__main .section__list--movies .show__shows .show__list--item {
    width: 250px;
    height: 400px;
  }

  .page__main .section__list--movies .show__shows .show__list--item img {
    width: 210px;
    height: 295px;
  }

  .page__main .section__list--movies .show__shows .fav__show--style {
    width: 250px;
    height: 400px;
  }

  .page__main .section__list--movies .show__shows .fav__show--style img {
    width: 210px;
    height: 295px;
  }

  .page__main aside .section__fav--movies li h4 {
    margin: 0 20px;
  }

  .page__main aside .section__fav--movies li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .page__main aside .section__fav--movies li img {
    width: 150px;
  }
}

@media all and (max-width: 500px) {
  .page__main .section__list--movies {
    width: 70vw;
  }

  .page__main .section__list--movies .search__movie {
    width: 150px;
  }

  .page__main .section__list--movies .btn__search {
    width: 150px;
    font-size: 16px;
  }

  .page__main .section__list--movies .show__shows .show__list--item {
    width: 150px;
    height: 240px;
  }

  .page__main .section__list--movies .show__shows .show__list--item img {
    width: 130px;
    height: 185px;
  }

  .page__main .section__list--movies .show__shows .show__list--item .show__item--info .overlay__text {
    font-size: 14px;
  }

  .page__main .section__list--movies .show__shows .show__list--item .show__item--info:hover,.page__main .section__list--movies .show__shows .show__list--item .show__item--info:focus,.page__main .section__list--movies .show__shows .show__list--item .show__item--info .overlay {
    height: 88%;
  }

  .page__main .section__list--movies .show__shows .fav__show--style {
    width: 150px;
    height: 240px;
  }

  .page__main .section__list--movies .show__shows .fav__show--style img {
    width: 130px;
    height: 185px;
  }

  .page__main .section__list--movies .show__shows .fav__show--style .show__item--info .overlay__text {
    font-size: 14px;
  }

  .page__main .section__list--movies .show__shows .fav__show--style .show__item--info:hover,.page__main .section__list--movies .show__shows .fav__show--style .show__item--info:focus,.page__main .section__list--movies .show__shows .fav__show--style .show__item--info .overlay {
    height: 88%;
  }

  .page__main aside .section__fav--movies {
    width: 30vw;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .page__main aside .section__fav--movies li img {
    width: 60px;
    height: 85px;
  }
}

/*# sourceMappingURL=main.css.map */
